body{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.buttons{
   display: flex;
   gap: 15px;
}

.button{
   font-size: 40px;
   border: 1px solid rgba(50, 151, 211, .3);
   padding: 20px;
   border-radius: 10px;
   transition: all .2s,box-shadow .2s ease-in; 
   
}
.button:focus {
   box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
 }



.score{
   display: flex;
   gap: 100px;
}

#roundResult{
   margin-top: 20px;
}

.playerScore,.computerScore{
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px;
   padding: 20px;
   font-size: 25px;
}




